<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: right;
    }
</style>

<h1>Create or update a product </h1>

{{ form_start(form) }}

<table>
    <tbody>
    <tr>
        <th>Name:</th>
        <td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ form_widget(form.description) }}</td>
    </tr>
    <tr>
        <th>Id Category</th>
        <td>{{ form_widget(form.category_id) }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{ form_widget(form.price) }}</td>
    </tr>
    <tr>
        <th></th>
        <td>{{ form_widget(form.save) }}</td>
    </tr>
    </tbody>
</table>

{{ form_end(form) }}